name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Create archive
        run: |
          tar --exclude='.git' --exclude='.github' -czf /tmp/client-desktop-shell-integration-nautilus-${{ github.ref_name }}.tar.gz .

      - name: Upload to release
        uses: softprops/action-gh-release@v1
        with:
          files: /tmp/client-desktop-shell-integration-nautilus-${{ github.ref_name }}.tar.gz
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
